// Colour
$color-primary: #36ADAD;
$color-primary-light: #41C7C7;
$color-primary-dark: #2EA0A0;

$color-secondary: #FFFFFF;
$color-secondary-dark: #d3cece;

$color-tertiary: #2E4053;

$color-grey-light: #616264;
$color-grey: #2f3031;
$color-grey-dark: #131414;

// Font
$default-font-size: 1.6rem;